// Secrets.xcconfig.example
// Copy this file to Secrets.xcconfig and add your keys there.
// (Secrets.xcconfig is added to .gitignore and will not be pushed to the repository)

API_KEY = YOUR_API_KEY_HERE
